
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <!-- Layouts -->
    <!-- Pages-->
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Pages</span>
    </li>
    <li class="menu-item">
        <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="menu-link">
            <i class="menu-icon bi bi-database-fill-gear"></i>
            <div data-i18n="Account Settings">Manage Blogs</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="ContactUs" class="menu-link">
            <i class="menu-icon tf-icons bx bx-phone"></i>
            <div data-i18n="Account Settings">Contact Us</div>
        </a>
    </li>

    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
    <!-- Cards -->
    <li class="menu-item">
        <a href="cards-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="Basic">Cards</div>
        </a>
    </li>
    <!-- User interface -->
    <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-box"></i>
            <div data-i18n="User interface">User interface</div>
        </a>
        
    </li>

    <!-- Extended components -->
    <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-copy"></i>
            <div data-i18n="Extended UI">Extended UI</div>
        </a>
        
    </li>

    <li class="menu-item">
        <a href="icons-boxicons.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-crown"></i>
            <div data-i18n="Boxicons">Boxicons</div>
        </a>
    </li>

    <!-- Forms & Tables -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Forms &amp; Tables</span></li>
    <!-- Forms -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-detail"></i>
            <div data-i18n="Form Elements">Form Elements</div>
        </a>
        
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-detail"></i>
            <div data-i18n="Form Layouts">Form Layouts</div>
        </a>
        
    </li>
    <!-- Tables -->
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Tables">Tables</div>
        </a>
    </li>
    <!-- Misc -->
    
</ul>