
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_AuthenticationLayout";
}

<p>
    Your password has been reset. Please <a asp-area="" asp-controller="Account" asp-action="Login">click here to log in</a>.
</p>

